*{

    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    line-height: 1.6;
}

h1{
    font-size: 38px;
    font-weight: bold;
    margin: 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 50px;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-button{
    padding: 10px 20px;
    background-color: #138065;
    border: none;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 6px rgb(0,0,0,0.2);
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
#show-more-button{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.header-section{
    /* background: linear-gradient(); */
    background-image: linear-gradient( 110.3deg,  rgb(83, 102, 118) 4.3%, rgba(49,55,82,1) 96.7% );
    text-align: center;
    padding: 12px;
}

/*  here we are making your web page responsive*/
